amqp==2.2.1
anyjson==0.3.3
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
dj-database-url==0.4.2
Django==1.11
django-background-tasks==1.1.11
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-compat==1.0.14
django-filter==1.0.4
djangorestframework==3.6.3
gunicorn==19.7.1
kombu==4.1.0
Markdown==2.6.9
psycopg2==2.7.3
pytz==2017.2
redis==2.10.5
six==1.10.0
vine==1.1.4
whitenoise==3.3.0
youtube-dl==2017.8.13
